/* 구글 폰트 - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* 구글폰트 - Noto Sans KR  */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:200,300,400,500,700,900&display=swap');

// Map(변수) 내에서 특정 key의 value를 css로 반환(출력)
$color: (
  primary: #222,
  secondary: #eee,
  focus: tomato
);

body {
  background-color: map-get($color, secondary);
  color: map-get($color, primary);
}
h1 {
  color: map-get($color, focus);
}

// -------------------------------------------------
$fonts: (
  kor: 'Noto Sans KR', 
  eng: 'Montserrat'
);

body {
  font-family: map-get($fonts, kor), sans-serif;
}

h2 {
  font-family: map-get($fonts, eng), sans-serif;
}