/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('http://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  margin: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  height: 100vh;
}
a {
  text-decoration: none;
}



/* --- background video --- */

.container {}
.video-frame {}
.video-frame video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;

  /* 동영상을 배경으로 하므로 z-index를 낮춰서 로고나 글씨가 위로 올라오도록 */
  z-index: -1;
}

/* 비디오 위에 덮어쓸 오버레이 */
.video-frame::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-135deg, rgba(0, 255, 255, 0.5), transparent);
}


/* --- logo ---  */

.logo {
  position: absolute;
  top: 50px;
  left: 100px;
}

/* --- heading --- */

.heading {
  position: absolute;
  width: 700px;
  left: 100px;
  bottom: 80px;

  /* 애니메이션이름 지속시간 딜레이시간 부드럽게처리 */
  animation: showing1 2s 1s linear;
  /* 애니메이션 끝나고 다시 0%로 스탠바이하는것을 하지마 */
  animation-fill-mode: both;
}
.heading h1 {
  font-size: 40px;
  margin: 0;
  text-shadow: 0 0 10px #333;
}
.heading h1 span {
  display: block;
  color: rgb(35, 177, 182);
}
.heading p {
  /* 1em : body서식의 기본 텍스트 사이즈 */
  /* font-size: 1.2em; */
}
.btn-book,
.btn-learn {
  border-radius: 30px;
  border: 1px solid #fff;

  /* 두 버튼의 크기를 동일하게 하려고 width를 정함  */
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  transition: 0.3s
}
.btn-book {
  color: #000;
  background-color: #fff;
}
.btn-learn {
  color: #fff;
  background-color: transparent;
}
.btn-book:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}
.btn-learn:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}

/* --- anniversary --- */
.anniversary {
  position: absolute;
  /* border: 1px solid red; */
  display: inline-block;
  right: 80px;
  bottom: 80px;
  text-align: center;
  color: #000;

  animation: showing2 1s 3s linear;
  animation-fill-mode: both;
}
.anniversary em {
  display: block;
  font-style: normal;
  margin-bottom: -5px;
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: 600;
}
.anniversary span {
  font-size: 60px;
  font-family: 'Monoton', sans-serif;
}



/* --- trigger ---  */

.trigger {
  width: 40px;
  height: 30px;
  box-sizing: border-box;
  /* border: 1px solid red; */
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;

  z-index: 100;
}
.trigger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: 0.5s;
}
.trigger span:nth-child(1) {
  top: 0;
}
.trigger span:nth-child(2) {
  top: 50%;
  width: 80%;
}
.trigger span:nth-child(3) {
  top: 100%;
}

.trigger span:last-child {
  margin-bottom: 0;
}
.trigger.active span {
  background-color: #fff;
}
.trigger.active span:nth-child(1){
  transform: rotate(45deg);
  top: 50%;
}
.trigger.active span:nth-child(2){
  opacity: 0;
}
.trigger.active span:nth-child(3){
  transform: rotate(-45deg);
  top: 50%;
}



/* --- full screen nav modal --- */

.modal-gnb {
  /* div는 기본 width가 100%니까 생략
  but)  position: absolute; 하면 inline-block이 되므로 
  다시 명시해줘야함 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  /* 부모요소가 높이가 있건말건 높이 100퍼센트로 주는 방법 */
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.9);

  display: none;
}
.gnb {
  /* 중앙정렬 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gnb a {
  font-size: 60px;
  display: block;
  color: #fff;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  transition: 0.3s;

  animation: gnb 0.5s linear;
  animation-fill-mode: both;
}
.gnb a:hover {
  color: rgb(35, 177, 182);
}

.gnb a:nth-child(1) {
  /* gnb가 fadein되는 시간을 조금 기다렸다가 시작하도록 */
  animation-delay: 0.5s;
}
.gnb a:nth-child(2) {
  animation-delay: 0.7s;
}
.gnb a:nth-child(3) {
  animation-delay: 0.9s;
}
.gnb a:nth-child(4) {
  animation-delay: 1.1s;
}
.gnb a:nth-child(5) {
  animation-delay: 1.3s;
}


/* heading이 서서히 나오는 애니메이션 */
@keyframes showing1 {
  0% {
    opacity: 0;
    margin-left: -100px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
/* anniversary가 서서히 나오는 애니메이션 */
@keyframes showing2 {
  0% {
    opacity: 0;
    margin-right: -100px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}
/* nav의 a태그가 서서히 나오는 애니메이션 */
@keyframes gnb {
  0% {
    opacity: 0;
    transform: translate(-50px);
  }
  100% {
    opacity: 1;
    /* 아무것도 이동하지 않은 상태 */
    transform: translate(0);
  }
}