@charset "UTF-8";

/* 레이아웃 */
#header {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #c6c6c6;
}

/*가운데 영역*/
.container {
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

/* 로우 영역 */
.row {
    padding: 0 28px;
}

/* 헤더 */
.header {}
.header {}
.header h1 {
    float: left;
}
.header h1 a {}
.header h1 a em {
    padding: 15px 8px 3px 0;
    display: inline-block;
}
.header h1 a em img {
    width: 155px;
    height: auto;
}

.header h1 a strong {
    position: absolute;
    left: 194px;
    top: 21px;
}
.header h1 a strong img {
    width: 150px;
    height: auto;
}
.header .nav {
    float: right;
}
.header .nav ul {}
.header .nav ul li {
    /* 가로 정렬 방법 1 */
    /* display: inline; */
    /* 가로 정렬 방법 2 */
    float: left;
    width: 103px;
    text-align: center;
    border-right: 1px solid #c6c6c6;
}
.header .nav ul li:first-of-type {
    border-left: 1px solid #c6c6c6;
}
.header .nav ul li a {
    display: block;
    padding: 19px 10px;
    font-size: 17px;
    font-weight: 700;
    color: #444;
}
