@charset "UTF-8";

/* 레이아웃 */
#mNav { display: none; position: absolute; right: 24px; top: 13px; }
#header { width: 100%; background: #fff; border-bottom: 1px solid #c6c6c6; }
#banner { position: relative; }
#movie {  }

/*가운데 영역*/
.container { position: relative; width: 1280px; margin: 0 auto; }

/* 로우 영역 */
.row { padding: 0 28px; }

/* 모바일메뉴 */
.ham { display: block; width: 45px; height: 10px; padding: 16px 10px 20px 10px; }
.ham span { display: block; width: 25px; height: 1px; background: #39106a; position: relative; }
.ham span::before { content: ''; position: absolute; left: 0; top: -7px; width: 100%; height: 1px; background: #39106a; }
.ham span::after { content: ''; position: absolute; left: 0; top: 7px; width: 100%; height: 1px; background: #39106a; }

/* 헤더 */
.header {}
.header h1 { float: left; }
.header h1 a {}
.header h1 a em { padding: 15px 8px 3px 0; display: inline-block; }
.header h1 a em img { width: 155px; height: auto; }
.header h1 a strong { position: absolute; left: 194px; top: 21px; }
.header h1 a strong img { width: 150px; height: auto; }
.header .nav { float: right; }
.header .nav ul {}
.header .nav ul li {  /* 가로 정렬 방법 1 */  /* display: inline; */  /* 가로 정렬 방법 2 */ float: left;      width: 103px; text-align: center; border-right: 1px solid #c6c6c6; }
.header .nav ul li:first-of-type { border-left: 1px solid #c6c6c6; }
.header .nav ul li a { display: block; padding: 19px 10px; font-size: 17px; font-weight: 700; color: #444; }

/* 배너 */
.banner-menu { position: absolute; left: 0; top: 20px; width: 100%; height: 100px; z-index: 10; }
.banner-menu ul li a { color: #fff; transition: color .3s; }
.banner-menu ul li a:hover { color: #c1c1c1; }
.banner-menu .bm_left { float: left; }
.banner-menu .bm_left ul { padding-top: 7px; }
.banner-menu .bm_left ul li { display: inline; margin-right: 30px; }
.banner-menu .bm_left ul li.total {}
.banner-menu .bm_left ul li.total a { margin-right: 20px; font-size: 14px; padding: 3px 10px; display: inline-block; border: 1px solid #fff; transition: background .3s, color .3s; }
.banner-menu .bm_left ul li.total a:hover { background: #fff; color: #000; }
.banner-menu .bm_right { float: right; }
.banner-menu .bm_right ul { float: left; }
.banner-menu .bm_right ul:first-of-type { padding-top: 7px; }
.banner-menu .bm_right ul li { display: inline; margin-right: 20px; }
.banner-menu .bm_right ul li.white { margin-right: 10px; }
.banner-menu .bm_right ul li.white a { display: inline-block; background: #fff; color: #3a0e6a; padding: 7px 30px 9px 30px; border: 1px solid #fff; }
.banner-menu .bm_right ul li.purple { margin-right: 0; }
.banner-menu .bm_right ul li.purple a { display: inline-block; background: #3a0e6a; color: #fff; padding: 7px 30px 9px 30px; border: 1px solid #6e40c4; }
.banner-menu ul li.line { position: relative; margin-right: 30px; }
.banner-menu ul li.line::after { content: ''; position: absolute; right: -18px; top: 2px; width: 1px; height: 14px; background: #fff; }

.slider { width: 100%; }
.slider .swiper { width: 100%; height: 600px; }
.slider .swiper .swiper-wrapper {}
.slider .swiper .swiper-wrapper .swiper-slide {  }
.slider .swiper .swiper-wrapper .swiper-slide.slide1 { background: url('../images/swiper01.jpg') no-repeat center center / cover; }
.slider .swiper .swiper-wrapper .swiper-slide.slide2 { background: url('../images/swiper01.jpg') no-repeat center center / cover; }
.slider .swiper .swiper-wrapper .swiper-slide.slide3 { background: url('../images/swiper01.jpg') no-repeat center center / cover; }
.slider .swiper .swiper-wrapper .swiper-slide h2 { margin-left: 20px; display: inline-block; color: #fff; font-size: 62px; line-height: 65px; margin-top: 200px; position: relative; }
.slider .swiper .swiper-wrapper .swiper-slide h2::after { content: ''; position: absolute; left: 0; bottom: -25px; background: rgba(255, 255, 255, 0.45); width: 100%; height: 1px; }
.slider .swiper .swiper-wrapper .swiper-slide h2 em { display: block; font-size: 59px; font-weight: 200; }
.slider .swiper .swiper-wrapper .swiper-slide p { margin-left: 20px; color: #fff; font-size: 17px; padding-top: 40px; }
.slider .swiper .swiper-pagination {}
.slider .swiper .swiper-pagination .swiper-pagination-bullet-active { background: #fff; }
.slider .swiper .swiper-button-prev { color: #fff; }
.slider .swiper .swiper-button-next { color: #fff; }

/* 무비 */
.movie { padding: 100px 0; }
.movie .movie_title { margin-bottom: 60px; }
.movie .movie_title ul { width: 848px; display: flex; margin: 0 auto; }
.movie .movie_title ul li { flex: 1; text-align: center; border: 1px solid #c4c4c4; margin-right: -1px; }
.movie .movie_title ul li a { display: block; padding: 15px 0; font-size: 18px; color: #666; font-weight: 700; }
.movie .movie_title ul li.active a { background: #666; color: #fff; }
.movie .movie_chart { }
.movie .movie_chart .chart_cont {}
.movie .movie_chart .chart_cont .swiper { border: 1px solid red; }
.movie .movie_chart .chart_cont .chart_cont_item { display: inline-block; width: 292px;  margin-bottom: 7px; }
.movie .movie_chart .chart_cont .chart_cont_item:last-of-type { margin-right: 0; }
.movie .movie_chart .chart_cont_item .poster { position: relative; }
.movie .movie_chart .chart_cont_item .poster figure {}
.movie .movie_chart .chart_cont_item .poster figure img { display: block; }
.movie .movie_chart .chart_cont_item .poster .rank { position: absolute; left: 0; top: 17px; width: 50px; height: 50px; line-height: 50px; text-align: center; background: #38116a; font-size: 22px; }
.movie .movie_chart .chart_cont_item .poster .rank strong { color: #fff; }
.movie .movie_chart .chart_cont_item .poster .mx { position: absolute; right: 17px; top: 17px; }
.movie .movie_chart .chart_cont_item .poster .mx span { width: 103px; height: 25px; display: block; }
.movie .movie_chart .chart_cont_item .poster .mx span.theater-mx { background-position: 0 -75px; }
.movie .movie_chart .chart_cont_item .poster .mx span.theater-boutique { background-position: 0 -100px; }
.movie .movie_chart .chart_cont_item .info { background: #fff; padding: 17px; border: 1px solid #d9d9d9; }
.movie .movie_chart .chart_cont_item .info h3 { color: #333; font-size: 30px; font-weight: 700; margin-bottom: 20px; overflow: hidden; }
.movie .movie_chart .chart_cont_item .info h3 span { width: 29px; height: 29px; display: inline-block; margin-top: 9px; vertical-align: 6px; }
.movie .movie_chart .chart_cont_item h3 span.rating-all { background-position: -87px -125px; }
.movie .movie_chart .chart_cont_item h3 span.rating-12 { background-position: -58px -125px; }
.movie .movie_chart .chart_cont_item h3 span.rating-15 { background-position: 0 -125px; }
.movie .movie_chart .chart_cont_item h3 span.rating-19 { background-position: -29px -125px; }
.movie .movie_chart .chart_cont_item .info h3 strong { display: inline-block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 85%; }
.movie .movie_chart .chart_cont_item .info .info_btn { }
.movie .movie_chart .chart_cont_item .info .info_btn a { display: inline-block; width: 49%; background: #f2f2f2; font-size: 18px; padding: 15px 30px; }






/* 미디어 쿼리 */
@media screen and (max-width: 1290px) {
    .container { width: 100%; }

    .header h1 a em {  padding: 15px 8px 10px 0;  }
    .header h1 a strong img { width: 120px; }
    .header .nav ul li { width: 93px; }
    .header .nav ul li a { font-size: 15px; padding: 17px 10px; }

}

@media screen and (max-width: 1024px) {
    #mNav { display: block; }

    .row { padding: 0 24px; }

    .header h1 { float: none; text-align: center; }
    .header h1 a strong { left: 24px; }
    .header .nav { display: none; }

    .banner-menu .bm_left ul { display: none; }
    .banner-menu .bm_right ul:nth-of-type(1) { display: none; }

    .slider .swiper .swiper-button-prev,
    .slider .swiper .swiper-button-next { display: none; }
}

@media screen and (max-width: 960px) {
    .header h1 a strong { display: none; }

    .slider .swiper { height: 500px; }
    .slider .swiper .swiper-wrapper .swiper-slide h2 { margin-top: 160px; font-size: 37px; line-height: 40px; }
    .slider .swiper .swiper-wrapper .swiper-slide h2 em { font-size: 35px; }
    .slider .swiper .swiper-wrapper .swiper-slide h2::after { bottom: -20px; }
    .slider .swiper .swiper-wrapper .swiper-slide p { padding-top: 30px; font-size: 16px; }

    .movie .movie_title ul { width: auto; }
}

@media screen and (max-width: 768px) {
    body { background: #d9d7e0; }

    #mNav { right: 6px; }

    .row { padding: 0 16px; }

    .header h1 { text-align: left; }

    #movie .row { background: #fff; margin: 24px; padding: 24px; }
    #movie h2.ir_so { position: static; width: auto; height: auto; line-height: normal; text-indent: 0; font-size: 24px; font-weight: bold; padding-bottom: 20px; }
    .movie { padding: 0; }
    .movie .movie_title { margin-bottom: 30px; }
    .movie .movie_title ul { position: relative; padding-bottom: 10px; }
    .movie .movie_title ul::after { content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: #e1e1e1; z-index: 1; }
    .movie .movie_title ul li { border: none; }
    .movie .movie_title ul li a { font-size: 18px; color: #666; font-weight: 400; padding: 0; margin-right: 35px; position: relative; }
    .movie .movie_title ul li.active a { background: none; color: #666; }
    .movie .movie_title ul li.active a::after { content: ''; position: absolute; left: 0; bottom: -10px; width: 100%; height: 2px; background: #666; z-index: 2; }
    .movie .movie_chart .chart_cont_item .info .info_btn a { padding: 15px 0; text-align: center; }
}

@media screen and (max-width: 600px) {
    .banner-menu { top: 16px; }
    .banner-menu .bm_right ul li.white a,
    .banner-menu .bm_right ul li.purple a { font-size: 14px; padding: 3px 10px 5px 10px; background: rgba(0, 0, 0, 0.6); border-color: #fff; color: #fff; }

    .slider .swiper { height: 400px; }
    .slider .swiper .swiper-wrapper .swiper-slide h2 { margin-top: 145px; font-size: 24px; line-height: 30px; }
    .slider .swiper .swiper-wrapper .swiper-slide h2::after { bottom: -15px; }
    .slider .swiper .swiper-wrapper .swiper-slide h2 em { font-size: 22px; }
    .slider .swiper .swiper-wrapper .swiper-slide p { font-size: 14px; padding-top: 25px; }

    #movie .container { position: relative; }
    #movie .container::after { content: ''; position: absolute; right: 0; top: 0; z-index: 10; background: #d9d7e0; width: 8px; height: 100%; }
    #movie .row { margin: 8px; padding: 16px; padding-right: 0; margin-right: 0; position: relative; }
    #movie .row::after { content: ''; position: absolute; right: 0; top: 0; z-index: 10; background: #fff; width: 16px; height: 100%; }
    #movie h2.ir_so { font-size: 18px; padding-bottom: 10px; }
    .movie .movie_title ul { padding-bottom: 8px; }
    .movie .movie_title ul li { flex: none; }
    .movie .movie_title ul li a { font-size: 14px; margin-right: 15px; }
    .movie .movie_title ul li.active a::after { bottom: -8px; }
    /* 무비차트 슬라이드만 오른쪽 패딩,마진 없게 하기 위한 노력 */
    .movie .movie_chart { position: relative; z-index: 50; }
    .movie .movie_chart .chart_cont_item .poster .rank { width: 35px; height: 35px; font-size: 15px; line-height: 35px; }
    .movie .movie_chart .chart_cont_item .poster .mx { right: 0; }
    .movie .movie_chart .chart_cont_item .info { padding: 5px; }
    .movie .movie_chart .chart_cont_item .info h3 { text-align: center; margin: 5px 0 10px; }
    .movie .movie_chart .chart_cont_item .info h3 span { display: none; }
    .movie .movie_chart .chart_cont_item .info h3 strong { display: block; font-size: 19px; color: #222; width: 100%; }
    .movie .movie_chart .chart_cont_item .info .info_btn a { width: 52%; margin-left: auto; display: block; margin-right: auto; padding: 5px; margin-bottom: 5px; background: none; border: 1px solid #ddd; font-size: 14px; }
    .movie .movie_chart .chart_cont_item .info .info_btn a:nth-of-type(2) { display: none; }
}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}
