.box {
  border-radius: 10px;
  border-style: dotted;
}

pre {
  display: inline-block;
}

.add {
  color: crimson;
}

.frame {
  border: 1px solid #000;
  width: 200px;
  height: 200px;
}

.frame .add2 {
  color: crimson;
  background-color: yellowgreen;
}

.frame .add2:hover {
  color: royalblue;
}
