.text-link {
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
  border-radius: 3px;
  padding: 5px 20px;
}

.text-link:visited {
  color: purple;
}

.text-link:active {
  color: crimson;
}

.text-link:hover {
  color: royalblue;
}

.frame {
  border: 5px solid #000;
  width: 800px;
  overflow: hidden;
  box-sizing: content-box;
}

.frame div {
  box-sizing: border-box;
  padding: 15px;
  border: 5px solid #eee;
  height: 100px;
  float: left;
  width: 266.66667px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame div:first-child {
  background-color: skyblue;
}

.frame div:nth-child(2) {
  background-color: tomato;
}

.frame div:last-child {
  background-color: yellowgreen;
}
