$color-primary: #333;
$color-secondary: royalblue;
$bgc-portfolio: #eee;
$portfolio-item-w: 300px;
$portfolio-item-h: 500px;
$portfolio-images-url: "images/portfolio/";

.portfolio {
  text-align: center;
  padding: 20px;
  background-color: $bgc-portfolio;
  .portfolio-items {
    width: 1200px;
    margin: auto;
    .portfolio-item {
      display: inline-block;
      width: $portfolio-item-w;
      height: $portfolio-item-h;
      &:nth-child(1) {
        background-image: url($portfolio-images-url + "bg-01.jpg");
      }
      &:nth-child(2) {
        background-image: url($portfolio-images-url + "bg-02.jpg");
      }
      &:nth-child(3) {
        background-image: url($portfolio-images-url + "bg-03.jpg");
      }
    }
  }
}

