@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:200,300,400,500, 700, 900&display=swap');

/* 
포인트 
1. header 와 section을 합쳐서 height 100%를 만들기 위해 (스크롤이 되지 않기 위해 ) 
section의 heigh를 calc(100vh - header의 height값) 으로 한것. 그런데도 조금 스크롤이 남아있는건 h1의 마진이 있기 때문 

2. 아이콘 이미지를 a태그의 background-image로 넣고 위치를 조정하는 것, 모든 속성을 background라는 하나로 통합해 설정할 때 background-color 도 같이 써준다

3. 타겟 요소는 부모요소(position:relative)가 되고 가상클래스 before after은 자식요소(position:absolute)가 된다

4. 버튼 디자인을 할 때는 width height를 따로 지정하지 않고 padding으로 하는것을 추천 
*/

body {
  font-family: 'Noto Sans KR', sans-serif;
  /* 폰트 사이즈 브라우저 기본값은 16px = 1em = 100% = 12pt  */
  line-height: 1.5em;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  margin: 0;
  /* border: 1px solid red; */
}

.container header {
  text-align: center;
  height: 60px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
}

.container section {
  height: calc(100vh - 60px);
  margin: 0;
}

.login {
  /* 센터링하기위해 자식으로 만듦 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  width: 350px;
}

.login-type {
  /* border: 1px solid blue; */
}

.login-type h1 {
  margin-top: 0;
  font-size: 38px;
  font-weight: normal;
  text-align: center;
}
.btn {
  display: block;
  /* border: 1px solid green; */
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 3px;

  opacity: 0.8;
}
.btn:hover {
  opacity: 1;
}

.btn:nth-of-type(1) {
  /* background-color: #fff; */
  color: #222;
  /* background-image: url(/part5/images/logo-mobile.png);
  background-repeat: no-repeat;
  background-position: center left; */
  background: #fff url(/part5/images/logo-mobile.png) no-repeat center left 10px;
}
.btn:nth-of-type(2),  
.btn:nth-of-type(3),  
.btn:nth-of-type(4),  
.btn:nth-of-type(5) {
  color: #fff;
}  

.btn:nth-of-type(2) {
  /* background-color: #898c9b; */
  background: #898c9b url(/part5/images/logo-email.png) no-repeat center left 14px;
}
.btn:nth-of-type(3) {
  /* background-color: #11ce00; */
  background: #11ce00 url(/part5/images/logo-naver.png) no-repeat center left 14px;
}
.btn:nth-of-type(4) {
  /* background-color: #0076fe; */
  background: #0076fe url(/part5/images/logo-facebook.png) no-repeat center left 14px;
}
.btn:nth-of-type(5) {
  /* background-color: #00c026; */
  background: #00c026 url(/part5/images/logo-line.png) no-repeat center left 13px;
}

.or-text {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  /* 부모 */
}
.or-text::before,
.or-text::after {
  content: '';
  position: absolute;
  /* 자식 */
  background-color: lightgray;
  height: 1px;
  width: 42%;
  top: 50%;
}
.or-text::before {
  left: 0;
}
.or-text::after {
  right: 0;
}

.login-footer {
  /* border: 1px solid blue; */
}

.login-footer input[id=chk],
.login-footer label[for=chk] {
  cursor: pointer;
}

.login-footer p {
  text-align: center;
}

.login-footer p a {
  font-weight: 400;
}
.login-footer p a:hover {
  text-decoration: underline;
}