/* 폰트어썸 cdn  */
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

body {}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0 10px;
  /* 비행기의 부모요소 */
  overflow: hidden;
}
.loading span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 2px;
  animation: dots 1s linear infinite;
}
.loading span:nth-of-type(1) {
  background-color: brown;
  animation-delay: 0s;
}
.loading span:nth-of-type(2) {
  background-color: red;
  animation-delay: 0.1s;
}
.loading span:nth-of-type(3) {
  background-color: gold;
  animation-delay: 0.2s;
}
.loading span:nth-of-type(4) {
  background-color: navy;
  animation-delay: 0.3s;
}
.loading span:nth-of-type(5) {
  background-color: black;
  animation-delay: 0.4s;
}
.loading .fas {
  color: #777;
  font-size: 16px;
  position: absolute;
  top: 50%;
  /* 여기서 애니메이션으로 조절할 시작지점과 끝지점을 미리 보고 만드는게 좋음 */
  left: -30px;
  /* left: 110%; */
  transform: translateY(-50%);
  animation: airplane 1s linear infinite;
}
@keyframes dots {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: scale(1.3);
  }
  60% {
    /* opacity: 1; */
    transform: scale(0.9);
  }
  100% {
    /* opacity: 1; */
    transform: scale(1);
  }
}
@keyframes airplane {
  0% {
    left: -30px;
  }
  100% {
    left: 110%;
  }
}