// @mixin circle {
//   border: 5px solid #000;
//   border-radius: 50%;
//   width: 200px;
//   height: 200px;
//   display: inline-block;
//   background-color: tomato;
// }

%circle {
  border: 5px solid #000;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: inline-block;
  background-color: tomato;
}

.items {
  // .item1 {
  //   @include circle;
  // }
  // .item2 {
  //   @include circle;
  // }
  // .item3 {
  //   @include circle;
  // }
  .item1 {
    @extend %circle;
  }
  .item2 {
    @extend %circle;
  }
  .item3 {
    @extend %circle;
  }
}