@mixin item-box {
  border: 5px solid #000;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

$width: 500px;

.item {
  @include item-box;
  width: $width;
  @if($width >= 300) {
    background-color: crimson;
  }
  @else if($width < 300) {
    background-color: royalblue;
  }
}