@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:200,300,400,500, 700, 900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  /* 폰트 사이즈 브라우저 기본값은 16px = 1em = 100% = 12pt  */
  line-height: 1.5em;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  margin: 0;
  /* border: 1px solid red; */
}

.container header {
  text-align: center;
  height: 60px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
}

.container section {
  height: calc(100vh - 60px);
  margin: 0;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  width: 360px;
}

.login-type {
  /* border: 1px solid blue; */
}

.login-type h1 {
  margin-top: 0;
  font-size: 38px;
  font-weight: normal;
  text-align: center;
}
.btn {
  display: block;
  /* border: 1px solid green; */
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 3px;
}
.btn:nth-of-type(1) {
  background-color: #fff;
}

.btn:nth-of-type(2) {
  background-color: #fff;
}

.btn:nth-of-type(3) {
  background-color: #fff;
}

.btn:nth-of-type(4) {
  background-color: #fff;
}

.btn:nth-of-type(5) {
  background-color: #fff;
}

.or-text {}

.login-footer {
  border: 1px solid blue;
}

.login-footer input[id=] {}

.login-footer label[for=] {}

.login-footer p {}

.login-footer p a {}