$fs: 15px;
$box-margin: 50px;

.frame {
  width: 50px + 50px;
  height: 100px - 30px;
  font-size: $fs * 2;

  margin: 50px / 2; // 계산 불가 
  margin: calc(50px / 2); // 계산 불가 
  
  margin: $box-margin / 2; // 정상 작동
  margin: (50px / 2); // 정상 작동
}
pre {
  display: inline-block;
}