@mixin links($link, $visited, $active, $hover) {
  a {
    text-decoration: none;
    color: $link !important;
    &:visited {
      color: $visited !important;
    }
    &:active {
      color: $active !important;
    }
    &:hover {
      color: $hover !important;
      text-decoration: underline;
    }
  }
}

.btns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include links(royalblue, gold, pink, crimson);
}