.frame div:first-child, .frame div:last-child {
  width: 200px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  border: 5px solid #000;
  display: inline-block;
}

.frame div:first-child {
  background-color: gold;
}

.frame div:last-child {
  background-color: tomato;
}

pre {
  display: inline-block;
}
