.frame {
  margin: 15px;
  .btn {
    padding: 10px;
    text-align: center;
    width: 100%;
    &.confirm {
      background-color: yellowgreen;
    }
    &.warning {
      background-color: crimson;
    }
  }
}