.frame {
  margin: 15px;
}

.frame .btn {
  padding: 10px;
  text-align: center;
  width: 100%;
}

.frame .btn.confirm {
  background-color: yellowgreen;
}

.frame .btn.warning {
  background-color: crimson;
}
