:root {
  --primary: royalblue;
  --secondary: yellowgreen;
  --warning: yellow;
  --danger: crimson;
  --btn-padding: 10px 30px;
}

.btns {
  text-align: center;
}

.btns .btn {
  border: none;
  padding: var(--btn-padding);
  text-transform: capitalize;
  font-size: 15px;
  border-radius: 3px;
  color: #fff;
}

.btns .btn.primary {
  background-color: var(--primary);
}

.btns .btn.secondary {
  background-color: var(--secondary);
}

.btns .btn.warning {
  background-color: var(--warning);
}

.btns .btn.danger {
  background-color: var(--danger);
}
