@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

.gnb {
}
.gnb a {
  position: relative;
  padding-bottom: 7px;
  display: block;
  margin: 20px;
}
.gnb a::before {
  content: '';
  background-color: crimson;

  position: absolute;
  /* position: absolute; 가 없으면 before after는 inline이라서 크기값을 못가짐 
  얘 덕분에 inline-block이 되어서 크기값을 가질수있게 되는 것 */
  transition: 0.5s;
  bottom: 0;
}

/* 왼쪽에서 오른쪽으로 밑줄생기기 */
.gnb a:nth-child(1)::before {
  width: 0;
  height: 2px;
}
.gnb a:nth-child(1):hover::before {
  width: 100%;
} 


/* 오른쪽에서 왼쪽으로 밑줄생기기 */
.gnb a:nth-child(2)::before {
  width: 0;
  right: 0;
  height: 2px;
}
.gnb a:nth-child(2):hover::before {
  width: 100%;
} 


/* 왼쪽에서 오른쪽으로 동그라미가 이동하기 */
.gnb a:nth-child(3)::before {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  left: 0;
}
.gnb a:nth-child(3):hover::before {
  left: 100%;
} 

/* 가운데에서 양쪽 끝으로 밑줄생기기 */
.gnb a:nth-child(4)::before {
  height: 2px;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
}
.gnb a:nth-child(4):hover::before {
  width: 100%;
} 


/* 양쪽 끝에서 가운데로 밑줄사라지기 */
.gnb a:nth-child(5)::before {
  height: 2px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.gnb a:nth-child(5):hover::before {
  width: 0;
} 