@import url('https://font.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  /* background-image: url(/part2/images/snow-photo.jpg);
  background-repeat: no-repeat;
  background-position: center center; */

  /* 이미지의 가로세로 비율을 무시하고 브라우저에 가득 채워 베경이미지를 고정하는 속성 */
  /* background-attachment: fixed; */

  background: url(/part2/images/snow-photo.jpg) no-repeat center center fixed;
}
a {
  text-decoration: none;
}

body::before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* 이 오버레이한 요소가 폼요소보다 밑으로 내려가도록 
  그래야 인풋창을 사용할 수 있다  */
  z-index: -1;
}

.search {
  /* border: 1px solid white; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search h1 {
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 20px;
}
.search input[type=text],
.search input[type=submit] {
  box-sizing: border-box;
  outline: none;
  padding: 15px;
  border: none;
}

.search input[type=text] {
  width: 300px;

  /* inlineblock 요소의 알수없는 마진 제거 */
  margin-right: -5px;
  border-radius: 40px 0 0 40px;
  
  padding-left: 40px;
}

.search input[type=submit] {
  width: 100px;
  
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  background-color: orange;
  color: #fff;
}
.search input[type=text]::placeholder {
  font-size: 15px;
  font-style: italic;
}
.search input[type=text]:focus::placeholder {
  visibility: hidden;
}
.search input[type=submit]:hover {
  background-color: darkgoldenrod;
}