.vision {
  display: flex;
}

.vision-inner {
  width: 1200px;
  overflow: hidden;
}

.vision-content {
  overflow: hidden;
}

.vision-content > div {
  float: left;
}

.vision-item {
  width: 100%;
}

.vision-item > div {
  height: 400px;
}

.vision-item-desc {
  background-color: #f9f9f9;
}

.vision-item-desc h1 {
  text-align: center;
}

.vision-item-photo {
  width: 100%;
}

.vision-item-photo img {
  height: inherit;
}
