.btn-outer {
  width: 300px;
}

.btn-outer .btn {
  display: block;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  width: 300px;
  height: 50px;
  transition: 0.3s;
}

.btn-outer .btn::before, .btn-outer .btn::after {
  content: '';
  width: inherit;
  height: inherit;
}

.btn-outer .btn:hover {
  background-color: crimson;
}
