@charset "UTF-8";

/* 레이아웃 */
header { background: url(../img/header_bg.jpg) repeat-x center top; }

/* 컨테이너 */
.container { width: 1200px; margin: 0 auto; }

/* 헤더 */
.header { height: 327px; }
.header .header_menu { text-align: right; }
.header .header_menu a { display: inline-block; color: #fff; padding: 8px 0 6px 10px; font-family: 'Abel', sans-serif; transition: color .3s ease; } /* ease: 천천-빠름-천천 */
.header .header_menu a:hover { color: #222; }
.header .header_title { text-align: center; color: #fff; text-transform: uppercase; font-family: 'Abel', sans-serif; margin-top: 55px; }
.header .header_title h1 { display: inline-block; font-size: 30px; background: #51b0dc; padding: 5px 30px; letter-spacing: 2px; font-weight: 900; transition: box-shadow .25s ease-in-out; } /* ease-in-out: 천천-보통-천천 */
/*
    box-shadow: none;
    box-shadow: x-position y-position blur spread color;
    box-shadow: x-position y-position blur spread color inset;
 */
/* ❕ box-sizing 을 여러개 설정할 수 있다 -> 테두리(border)처럼 사용할 수 있음 */
.header .header_title h1:hover { box-shadow: -250px 0 0 0 #257fac inset, 250px 0 0 0 #257fac inset; }
.header .header_title a { color: #fff; font-size: 16px; background: #4a9adf; display: inline-block; padding: 10px 20px; margin-top: -7px; letter-spacing: 5px; transition: box-shadow .25s ease-in-out; }
.header .header_title a:hover { box-shadow: 0 0 0 5px rgba(75, 154, 191, 0.9) inset, 0 0 0 100px rgba(0, 0, 0, 0.1) inset; }

/* media query */
@media screen and (max-width: 1200px) {
    .container { width: 100%; }
    .row { padding: 0 15px; }
}
