@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* body 태그에 fonts-family로 적용시키면 input요소에는 적용되지 않으므로 전체선택자를 사용함  */
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
body {
  margin: 0;
  color: #333;
  background-color: #fff;
  font-size: 15px;
  line-height: 1.6em;
}
a {
  text-decoration: none;
  color: #333;
}

/* ########## Search Field Expand ########## */
.container {}

/* Header */
header {
  /* position: absolute, fixed는 inline-block요소가 된다 */
  position: fixed;
  width: 100%;

  background-color: rgb(191, 175, 175);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.logo {}
.logo img {}

/* Search Bar */
.search {
  background-color: #fff;
  width: 50px;
  height: 50px;
  /* border-radius: 50%;로 원모양을 만들면 width가 커졌을때 모양이 이상하게 되기 때문에 각각 50px씩 준다 */
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}
.search.active {
  width: 400px;
}

.clear {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}
.clear i {}
.icon {
  /* html구조상 마지막에 있는 position: absolute;가 가장 위에 있음(z-index가 높음) => x버튼이 .icon에 가려짐 */
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 52px;
  font-size: 23px;
  cursor: pointer;
}
.icon i {}
.input-frame {
  width: 300px;
  /* border: 1px solid red; */
  position: absolute;
  top: 12px;
  left: 50px;
}
.input-frame input[type=text] {
  width: 100%;
  border: none;
  font-size: 17px;
}
.input-frame input[type=text]::placeholder {
  transition: 0.3s;
}
.input-frame input[type=text]:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}
/* Section */
section {
  height: 900px;
  padding: 50px;
  display: flex;
  /* flex-direction: row;가 기본값인데 바꿨으니까 수평정렬은 align-items, 수직정렬은 justify-content로 설정해야한다(반대로 뒤바뀜) */
  flex-direction: column;
  justify-content: center;
}
section:nth-of-type(even) {
  background-color: #eee;
}
section h1 {
  text-align: center;
  font-size: 3em;
}
section p {}
