body {
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  color: #222;
}
.container {}
input[id=trigger] {
  display: none;
}
input[id=trigger] + label[for=trigger] {
  /* border: 1px solid red; */
  width: 30px;
  height: 20px;
  display: block;
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 50%;
  /* 완벽한 수직중앙을 위해 */
  transform: translateY(-50%);
  transition: 0.3s;
}
label[for=trigger] span {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000;
  left: 0;
  transition: 0.2s;
}
label[for=trigger] span:nth-child(1) {
  top: 0;
}
label[for=trigger] span:nth-child(2) {
  top: 50%;
}
label[for=trigger] span:nth-child(3) {
  top: 100%;
}

/* Sidebar */
.sidebar {
  background-color: #000;
  height: 100vh;
  width: 300px;
  /* 오른쪽에 숨어있도록 -300px */
  right: -300px; 
  position: fixed;
  transition: 0.3s;
}

input[id=trigger]:checked + label[for=trigger] span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}
input[id=trigger]:checked + label[for=trigger] span:nth-child(2) {
  opacity: 0;
}
input[id=trigger]:checked + label[for=trigger] span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}
/* ~ : 형제 선택자(같은레벨에있는 요소를 선택 ) */
input[id=trigger]:checked ~ .sidebar {
  right: 0;
}
input[id=trigger]:checked + label[for=trigger] {
  right: 310px;
}

