@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.6em;
  font-family: 'Montserrat', sans-serif;
}
$padding: 50px;

.container {
  border: 5px solid gold;
  height: 100vh;
  padding: $padding;
}
.content {
  background-color: #eee;
  padding: $padding;
  height: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  .container,
  .content {
    height: auto;
    @if($padding <= 20px) {
      padding: $padding;
    }
    @else {
      padding: $padding / 2;
    }
  }
}