@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

.gnb {}
.gnb a {
  /* border: 1px solid green; */
  width: 300px;
  height: 40px;
  display: block;

  position: relative;
  overflow: hidden;
}
.gnb a::before, 
.gnb a::after {
  /* attr() : 부모태그의 속성에 접근 */
  content: attr(data-text);
  position: absolute;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;

  transition: 0.3s;
}

.gnb a::before {
  background-color: crimson;
  top: 0;
  left: 0;
}
.gnb a::after {
  background-color: dodgerblue;
  top: 100%;
  left: 0;
}

.gnb a:hover::before {
  top: -100%;
}

.gnb a:hover::after {
  top : 0;
}