@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: teal;
}

a {
  text-decoration: none;
  color: #fff;
}

.gnb {}
.gnb a {
  position: relative;
  text-transform: uppercase;

  display: block;
  width: 400px;
  height: 40px;
  /* border: 1px solid red; */
  text-align: center;
  line-height: 40px;

  transition: 0.3s;
}
.gnb a::before,
.gnb a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  
  transition: 0.3s;
}

.gnb a:hover {
  letter-spacing: 5px;
}
.gnb a:hover::before {
  transform: rotate(45deg);
  background-color: transparent;
}
.gnb a:hover::after {
  transform: rotate(-45deg);
  background-color: transparent;
}