@charset "UTF-8";
/* 전역변수 */
.information {
  color: #202020;
}

.information h1 {
  color: crimson;
}

.reservation {
  color: #202020;
}

.reservation h1 {
  color: crimson;
}

/* 지역변수 */
/* .information선택자 안에서 선언한 변수를 이 선택자 중괄호 바깥에서 접근해서 에러 발생 */
