$text1: 'coding';
// $text2: 'works';
$text2: 'work';

@mixin welcome {
  text-transform: uppercase;
  &::after {
    @if($text1 == 'coding' and $text2 == 'works') {
      content: 'welcome~' + ($text1 + $text2);
      color: royalblue;
    }
    @else {
      content: 'You are not Codingworks';
      color: red;
    }
  }
}
.welcome {
  @include welcome;
}