@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #000;
}
section {
  border: 1px solid black;
  width: 800px;
}
.btn {
  border: 1px solid red;
  list-style: none;
  /* 잃어버린 높이값 찾기는  */
  overflow: hidden;
}
.btn li {
  border: 1px solid blue;
  float: left;
  background-color: #ddd;
  cursor: pointer;
}
.btn li.active {
  background-color: #fff;
}
.tabs {}
.tabs div {
  border: 1px solid green;
  height: 200px;
  display: none;
  
}
.tabs div.active {
  display: block;
}