* {
  box-sizing: border-box;
}
body {
  font-size: 15px;
  background-color: #fff;
}
.sns {
  width: 600px;
  list-style: none;
  border: 1px solid red;
  overflow: hidden;
  li {
    float: left;
    border: 1px solid #000;
    width: 25%;
    padding: 10px;
    a {
      text-decoration: none;
      text-transform: capitalize;
    }
  }
}