@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:200,300,400,500&display=swap');
body {
  font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5em;
    font-weight: 300;
    height: 100vh;   
}
/* a태그는 기본적으로 body태그를 따르지 않는다 -> 따로 스타일속성을 줘야함  */
a {
  text-decoration: none;
  color: #222;
}
.dropdown {
  border: 1px solid red;

  /* 결과는 동일하지만 부모요소의 width를 정해놓고 자식요소에서 width를 inherit으로 하면 자동으로 늘어난다 */
  width: 200px;
  /* display: inline-block; */
}
.dropdown-btn {
  /* 버튼 높이를 조절할 때 height를 쓰는것보다 padding을 사용하는게 간편하다 */
  padding: 10px;

  /* width: 200px; */
  width: inherit;
  
  font-size: 18px;
  background-color: yellowgreen;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.dropdown-submenu {
  display: none;
  /* border: 1px solid #000; */

  /* width: 200px; */
  width: inherit;

  box-shadow: 0 0 10px rgba(0,0,0,0.17);
}
.dropdown-submenu a {
  display: block;
  padding: 7px;
  text-align: center;
}
.dropdown-submenu a:hover {
  background-color: #eee;
}
/* 가상클래시 사용시 주의할 점 : hover 뒤에 작성한 요소는 무조건 앞에 작성한 요소의 자식요소여야 hover가 먹힌다 */
.dropdown:hover .dropdown-submenu {
  display: block;
}