@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.gallery {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  height: 100vh;
}
.gallery li {
  border-right: 5px solid black;
  background-size: cover;

  /* li의 개수에 따라 width를 균등하게 나누어주는 속성 */
  flex: 1; 

  transition: 0.5s;

  /* .content의 부모 */
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.gallery li:last-child {
  border-right: none;
}

.gallery li:nth-child(1) {
  background: url(/part1/images/artistic-image-01.jpg) no-repeat center center;
}
.gallery li:nth-child(2) {
  background: url(/part1/images/artistic-image-02.jpg) no-repeat center center;
}
.gallery li:nth-child(3) {
  background: url(/part1/images/artistic-image-03.jpg) no-repeat center center;
}
.gallery li:nth-child(4) {
  background: url(/part1/images/artistic-image-04.jpg) no-repeat center center;
}
.gallery li:nth-child(5) {
  background: url(/part1/images/artistic-image-05.jpg) no-repeat center center;
}

.gallery:hover li {
  flex: 1;
}

.gallery li:hover {
  /* 호버된애는 3주고 나머지는 줄여  */
  flex: 3;

  /* grayscale은 0부터 1까지 */
  filter: grayscale(1);
}

.content {
  position: absolute;
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 200px;
  width: 100%;

  /* bottom: 0; */
  bottom: -400px;

  padding: 20px;
  box-sizing: border-box;
  padding-top: 40px;
}
.content h2 {}
.content p {}
.sns a{
  color: #333;
}

.gallery li:hover .content {
  bottom: 0;
  transition-delay: 0.5s;
}

.content::before {
  content: '';
  /* background-color: red; */
  background-color: #000;

  /* before after는 항상 자식요소가 된다 */
  /* 부모인 .content에 이미 position속성이 있으므로 또 안써도 됌 */
  position: absolute;
  width: 100%;
  height: 57px;
  left: 0;
  top: -10px;

  /* 어디를 기준으로 변형시킬것인지 */
  transform-origin: left bottom;

  transform: rotate(-5deg) scale(1.3);
}