@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif; 
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.tab-inner {
  height: 500px;
  /* border: 1px solid black; */
}
.tab-inner h1 {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
}

input[name=tabmenu] {
  display: none;
}

.tabs {
  position: relative;

  /* border: 1px solid red; */
  width: 800px;
  height: 400px;

  overflow: hidden;
}
.items {
  position: absolute;
  top: 0;
  left: 0;

  width: 2400px;
  height: 400px;

  transition: 0.5s;

  text-align: center;
}
.items div {
  /* border: 1px solid blue; */
  width: 800px;
  height: 400px;
  
  /* 가로배치 */
  float: left;
  
  /* border 포함해서 width가 800px 되도록 */
  box-sizing: border-box;

  padding: 50px;
}

.items div img {
  border-radius: 50%;
  width: 100px;
}

.items div p b {
  display: block;
}
.items div p span {
  color: orange;
}


.btn {
  /* border: 1px solid green; */
  text-align: center;
}
.btn label {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  display: inline-block;
  cursor: pointer;
}

input[id=tab1]:checked~.btn label[for=tab1],
input[id=tab2]:checked~.btn label[for=tab2],
input[id=tab3]:checked~.btn label[for=tab3] {
  background-color: crimson;
  border-radius: 50%;
}

input[id=tab1]:checked~.tabs .items {
  left: 0;
}
input[id=tab2]:checked~.tabs .items {
  left: -800px;
}
input[id=tab3]:checked~.tabs .items {
  left: -1600px;
}