@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.container {
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  font-weight: 500;
}

.container .portfolio {
  text-align: center;
  text-overflow: hidden;
  text-transform: uppercase;
  text-shadow: 2px 2px 20px yellowgreen;
}
