/* Error: From line 1, column 1 of 8_extend-in-media.scss: 
 *   ╷
 * 1 │ .error {
 *   │ ^^^^^^^
 *   ╵
 * You may not @extend selectors across media queries.
 *   ,
 * 8 |         @extend .error;
 *   |         ^^^^^^^^^^^^^^
 *   '
 *   8_extend-in-media.scss 8:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: From line 1, column 1 of 8_extend-in-media.scss: \a   \2577 \a 1 \2502  .error {\a   \2502  ^^^^^^^\a   \2575 \aYou may not @extend selectors across media queries.\a   \2577 \a 8 \2502          @extend .error;\a   \2502          ^^^^^^^^^^^^^^\a   \2575 \a   8_extend-in-media.scss 8:9  root stylesheet";
}
