$primary: royalblue;
$secondary: yellowgreen;
$warning: yellow;
$danger: crimson;
$btn-padding: 10px 30px;

.btns {
  text-align: center;
  .btn {
    border: none;
    padding: $btn-padding;
    text-transform: capitalize;
    font-size: 15px;
    border-radius: 3px;
    color: #fff;
    &.primary {
      background-color: $primary;
    }
    &.secondary {
      background-color: $secondary;
    }
    &.warning {
      background-color: $warning;
    }
    &.danger {
      background-color: $danger;
    }
  }
}