@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:200,300,400,500&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Noto Sans KR' serif;
  margin: 0;
  padding: 0;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}
h1,h2,h3,h4,h5 {
  font-weight: normal;
}


section {
  height: 100vh;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
section article {
  width: 980px;
  height: 500px;
  /* border: 1px solid red; */
  padding: 30px;
  box-sizing: border-box;
}
.heading {
  text-align: center;
  height: 100px;
  /* border: 1px solid yellow; */
  margin-bottom: 10px;
}
.content {
  /* border: 1px solid yellow; */
  height: 400px;
}
.content>div {
  /* border: 1px solid blue; */
  float: left;
  height: 400px;
  width: 50%;
  box-sizing: border-box;
}
.heading span {
  color: crimson;
  font-size: 24px;
}
.heading h1 {
  font-size: 36px;
  margin-top: 15px;
}
.heading h1 em {
  font-style: normal;
  position: relative;
}
.heading h1 em::after {
  content: url(/part3/images/logo-kakao.png);
  position: absolute;
  top: -35px;
  right: -30px;
}
.accordion {}
.title {
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 3px;
  position: relative;
  transition: 0.3s;
}

.title:hover,
.title.active {
  background-color: #203049;
  color: #fff;
}

.title::after {
  content: '\f105';
  font-family: fontawesome;

  /* 아이콘 오른쪽에 정렬 - 방법2가지 */
  /* position: absolute;
  top: 7px;
  right: 10px; */
  float: right;
  margin-right: 10px;
  margin-top: 3px;
  transition: 0.3s;
}
.title.active::after {
  transform: rotate(90deg);
  color: orange;
}
.desc {
  padding: 20px 10px;
  display: none;
}
.desc.active {
  display: block;
}
.image {
  
}
.image img {
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  margin-left: 20px;
}