@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1.6em;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.member {
  width: 900px;
  background-color: #fff;
  border-radius: 10px;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

  /* th의 배경색이 border-radius 준 부분보다 튀어나오는것 해결방법 */
  overflow: hidden;
}
.member caption {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  /* border: 1px solid red; */
  padding: 5px;
  color: #fff;
  -webkit-text-stroke: 1px #fa5184;
}
.member tr {
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}
.member tr:first-child,
.member tr:last-child {
  border: none;
}
.member tr th,
.member tr td {
  padding: 12px;
  text-align: center;
}

.member tr th {
  background-color: #fa5184;
  color: #fff;
  font-weight: 700;
}
/* table태그 안에 caption태그 추가했더니 위 모서리 2개의 둥그런 모서리 없어지는것 해결  */
.member tr th:first-child {
  border-radius: 10px 0 0 0;
}
.member tr th:last-child {
  border-radius: 0 10px 0 0;
}
/* 효과 1  */
/* .member tr:hover {
  background-color: #eee;
} */
/* 효과 2 */
/* 첫 tr은 배경이 흰색인것을 추천 -> even보다 odd로 하는것을 추천 */
.member tr:nth-child(odd) {
  background-color: #eee;
}

.member tr td:last-child {
  color: crimson;
}