.heading {
  background-color: crimson;
  border-radius: 10px;
  padding: 10px;
  h1 {
    margin: 0;
    text-align: center;
    color: #fff;
    font-weight: 500;
    // span {
      & span {
      display: block;
      color: #000;
      font-size: 46px;
    }
  }
}