/* 본문용  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 네비용 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
  box-sizing: border-box;
}
/* 부드러운 스크롤  */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-weight: 300;
  line-height: 1.6em;
  color: #222;
}

/* Toggle Trigger  */
.toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 100;
}
.toggle i {
  width: 40px;
  height: 40px;
  font-size: 30px;
  background-color: #000;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.toggle.active i {
  background-color: rgb(45, 95, 205);
  transform: rotate(135deg);
}

/* Overlay  */
.overlay {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* 오버레이 애니메이션 방법 3 - 좌우에서 중앙으로 모아지는 애니메이션 */
.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #000;
  transition: 0.35s;
}
.overlay::before {
  left: 0;
}
.overlay::after {
  right: 0;
}
.overlay.active::before {
  width: 50%;
}
.overlay.active::after {
  width: 50%;
}

/* gnb  */
.gnb {
  /* 부모요소가 없으니까  */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  /* 또는 */
  /* pointer-events: none; */
  z-index: 100;
  transition: 0.5s;
}
.gnb a {
  color: #fff;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  line-height: 1.6em;
  position: relative;
  padding-right: 20px;
}
.gnb a::before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 20px;
  /* width: 100%; */
  width: 0;
  background-color: rgb(45, 95, 205);
  z-index: -1;
  transition: 0.5s;
}
.gnb a:hover::before {
  width: 100%;
}
.gnb.active {
  opacity: 1;
  visibility: visible;
  /* 또는 */
  /* pointer-events: all; */
}

.container {}

/* Common  */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .inner {
  width: 1150px;
  text-align: center;
}
section:nth-child(odd) {
  background-color: #f8f8f8;
}
.heading {}
.heading b {}
.heading h1 {
  font-size: 3em;
  position: relative;
  padding-bottom: 50px;
}
.heading h1::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background-color: #FED050;
}
.heading p {
  font-size: 1.2em;
  line-height: 1.5em;
}

/* Welcome Section  */
section.welcome {
  width: 100%;
  height: 100vh;
}
section.welcome img {
  object-fit: cover;
  width: inherit;
  height: inherit;
}
