@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}
body {
  margin: 0;
  color: #333;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: #333;
}

.container {}

/* ############### Header ############### */
header {}

/* Banner */
.banner-outer {
  position: relative;
  background: linear-gradient(to right, #00202b 50%, #fff 50%);
  height: 40px;
}
.banner {
  width: 1450px;
  margin: auto;
  height: 40px;
}
.banner img {
  display: block;
}
.close-banner {
  position: absolute;
  top: 5px;
  right: 0;
  font-size: 26px;
  color: #aaa;
  cursor: pointer;
}
.close-banner i {}

/* LNB */
.lnb-outer {
  background-color: #adcae8;
}
.lnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1450px;
  margin: auto;
  padding: 15px;
}
.logo {}
.logo a {}
.logo a img {}
.lnb-navi {}
.lnb-navi a {
}
.lnb-navi a:hover {
  color: #FF5643;
}
.lnb-navi a::after {
  content: '|';
  color: #bbb;
  margin-right: 5px;
  padding-left: 5px;
}
.lnb-navi a:last-child::after {
  display: none;
}

/* GNB */
.gnb-outer {
  background-color: #272c38;
}
nav {
  width: 1450px;
  margin: auto;
  position: relative;
}

/* 방법 1. float 사용 */
/* .gnb {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 50px;
} */
/* .gnb li {
  float: left;
  height: 50px;
  width: calc(calc(1450px - 50px) / 6);
  text-align: center;
  border-right: 1px solid #555;
}
.gnb li>a {
  color: #fff;
  font-size: 17px;
  display: block;
  height: 100%;
  padding-top: 10px;
} */

/* 방법 2. flex 사용 */
.gnb {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
/* 중요 ! */
.gnb li:not(.gnb li:last-child) {
  height: 50px;
  border-right: 1px solid #555;
  flex: 1;
  text-align: center;
  position: relative;
}
.gnb li>a {
  color: #fff;
  font-size: 17px;
  height: 100%;
  display: block;
  padding-top: 12px;
}

.gnb li:first-child {
  background-color: crimson;
}
.gnb li:last-child {
  width: 50px;
  height: 50px;
  background-color: #12359d;
  border-right: none;
  position: relative;
  transition: 0.3s;
}
.gnb li:last-child.active {
  background-color: #fff;
}
.badge {
  font-style: normal;
  background-color: crimson;
  border-radius: 10px;
  padding: 2px 5px;
}

/* Drop Down  */
.dropdown {
  position: absolute;
  width: 100%;
  background-color: #fff;

  /* Drop Down Function - 2가지 방법 */
  /* display: none; */

  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;
  transition: 0.3s;
}
.dropdown a {
  display: block;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}
.dropdown a:last-child {
  border: none;
}
.dropdown a:hover {
  background-color: #eee;
}

/* Drop Down Function - 2가지 방법 */
.gnb li:hover .dropdown {
  /* display: block; */

  opacity: 1;
  /* visibility: visible; */
  pointer-events: all;
}

/* Trigger  */
.trigger {
  width: 25px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.trigger span {
  background-color: #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  transition: 0.3s;
}
.trigger span:nth-child(1) {
  top: 0;
}
.trigger span:nth-child(2) {
  top: 50%;
}
.trigger span:nth-child(3) {
  top: 100%;
}

.trigger.active span {
  background-color: #000;
}
.trigger.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}
.trigger.active span:nth-child(2) {
  opacity: 0;
}
.trigger.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}

/* Site Map */
.sitemap-outer {
  background-color: #fff;
  /* nav 가 부모요소  */
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 1px);
  padding: 30px;
  display: none;
}
.sitemap {
  display: flex;
}
.sitemap div {
  flex: 1;
  font-size: 14px;
  line-height: 1.6em;
}
.sitemap div b {}
.sitemap div a {
  display: block;
  /* display: list-item;
  list-style: none;
  padding: 0; */
}
.sitemap div a::before {
  content: ' - ';
}
.sitemap div a:hover {
  text-decoration: underline;
}

/* ############### Section ############### */
section {}
section img {
  width: 100%;
}