@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-base: 15px;
$font-family-base: 'Raleway';
$font-family-headline: 'Roboto';

body {
  font-size: $font-base;
  line-height: 1.6em;
}
@mixin headline-font-default {
  font: {
    family: $font-family-headline;
    weight: normal;
  }
  color: #222;
}
@mixin font-default {
  font: {
    family: $font-family-base;
    weight: normal;
  }
  color: #222;
}

@mixin large-text {
  @include headline-font-default;
  font-size: $font-base * 4;
}
@mixin medium-text {
  @include headline-font-default;
  font-size: $font-base * 3;
}
@mixin small-text {
  @include headline-font-default;
  font-size: $font-base * 2;
}
@mixin body-text {
  @include font-default;
  font-size: $font-base;
}
.container {
  h1 {
    @include large-text;
    color: crimson
  }
  h2 {
    @include medium-text;
  }
  h3 {
    @include small-text;
  }
  p {
    @include body-text;
  }
}