@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif; 
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #333;
}
a {
    text-decoration: none;
}

.square {
    width: 400px;
    height: 400px;
    position: relative;
    margin: 10px;
}
.square span {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    width: inherit;
    height: inherit;
    border: 1px solid white;
    border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
    transition: 0.5s; /* 호버시 채워진 색으로 보이게 할 때 쓸것  */
    /* animation: circle 5s linear infinite; */
}

.square:hover span {
    /* 한가지 색으로 통일하려면  */
    /* background-color: rgb(218, 147, 161); */
    border: none;
}

/* 각 square의 색을 다르게 하려면  */
.square:nth-child(1):hover span {
    background-color: rgb(116, 187, 158);
}
.square:nth-child(2):hover span {
    background-color: rgb(235, 218, 120);
}
.square:nth-child(3):hover span {
    background-color: pink;
}

.square:hover span:nth-child(1) {
    opacity: 0.3;
    /* background-color: rgb(208, 184, 235); */
}
.square:hover span:nth-child(2) {
    opacity: 0.5;
    /* background-color: rgb(168, 176, 232); */
}
.square:hover span:nth-child(3) {
    opacity: 0.7;
    /* background-color: rgb(235, 176, 176); */
}

@keyframes circle {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* span 여러개에 시차를 줘서 애니메이션 */
.square span:nth-child(1) {
    animation: circle 6s linear infinite;
    /* opacity: 0.3; 여기다 주면 hover하기 전에 border 색이 벌써 흐림 */
}
.square span:nth-child(2) {
    animation: circle 4s linear infinite;
    /* 회전 방향을 반대로  */
    animation-duration: reverse;
    /* opacity: 0.5; */
}
.square span:nth-child(3) {
    animation: circle 8s linear infinite;
    /* opacity: 0.8; */
}

.square div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 70%;
    text-align: center;
    /* border: 1px solid red; */
}
.square div a {
    border-radius: 40% 34% 60% 35%;
    border: 1px solid white;
    padding: 8px;
    color: white;
}

.container {
    display: flex;
}