@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif; 
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.skill-progress {
    width: 500px;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.08);
}
.skill-progress h1 {
    text-align: center;
    margin-bottom: 30px;
}
.item {
    
}
.item p {
    /* border: 1px solid white; */
    /* overflow: hidden; 쓴 이유 : 자식이 float속성 가지면 부모의 height가 0이 되기 때문에  */
    overflow: hidden;
    margin-bottom: 5px;
}
.item p span:nth-child(1) {
    float: left;
}
.item p span:nth-child(2) {
    float: right;
}
.progress {
    border: 1px solid rgb(106, 252, 250);
    padding: 5px;
    border-radius: 3px;
}
.progress-level {
    /* 각 항목의 %값은 각각 다르기 때문에 inline으로 스타일을 적용한다 */
    height: 10px;
    background: linear-gradient(to right, rgb(255, 107, 137), gold);
    /* animation-name: ani;
    animation-duration: 1s;
    animation-iteration-count: 1; */
    animation: ani 1s;

    /* 애니메이션이 몇번 반복되든 애니메이션이 끝나면 100%구간에서 멈춰라 (다시 0으로 스탠바이하는것을 방지 */
    animation-fill-mode: both;
}

@keyframes ani {
    0% {
        width: 0;
    }
}

/* .skill-progress .item:nth-child(1) .progress-level {
  animation-delay: 0s;
}
.skill-progress .item:nth-child(2) .progress-level {
  animation-delay: 0.2s;
}
.skill-progress .item:nth-child(3) .progress-level {
  animation-delay: 0.4s;
}
.skill-progress .item:nth-child(4) .progress-level {
  animation-delay: 0.6s;
}
.skill-progress .item:nth-child(5) .progress-level {
  animation-delay: 0.8s;
} */

/* :nth-child() 는 태그를 구분하지 않아서 이 경우 .item 의 형제 레벨에 있는 첫번째부터 선택해서 
h1이 젤 첫번째 요소가 되어서 생각한대로 되지 않았다
해결방법 : :nth-of-type() 사용 */

.skill-progress .item:nth-of-type(1) .progress-level {
  animation-delay: 0s;
}
.skill-progress .item:nth-of-type(2) .progress-level {
  animation-delay: 0.2s;
}
.skill-progress .item:nth-of-type(3) .progress-level {
  animation-delay: 0.4s;
}
.skill-progress .item:nth-of-type(4) .progress-level {
  animation-delay: 0.6s;
}
.skill-progress .item:nth-of-type(5) .progress-level {
  animation-delay: 0.8s;
}
.skill-progress .item:nth-of-type(6) .progress-level {
  animation-delay: 1s;
}