body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slide-container {
  position: relative;
  width: 500px;
  height: 300px;
  border: 1px solid red;
}
.slide-container input[name=tabmenu] {
  display: none;
}
.content {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  /* visibility: hidden;를 추가하면 존재가 사라짐 ( 자리값은 유지 )  */

  transition: 0.5s;
}
.content img {
  width: 500px;
  height: 300px;
}
.tabBtn {
  /* border: 1px solid blue; */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  
}
.tabBtn label {
  width: 15px;
  height: 15px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

input[id=tab1]:checked~.tabBtn label[for=tab1],
input[id=tab2]:checked~.tabBtn label[for=tab2],
input[id=tab3]:checked~.tabBtn label[for=tab3] {
  background-color: gold;
}

input[id=tab1]:checked~.img1,
input[id=tab2]:checked~.img2,
input[id=tab3]:checked~.img3 {
  /* display: block; */
  opacity: 1;
  visibility: visible;
}