body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slide-container {
  position: relative;
  width: 500px;
  height: 300px;
  /* border: 1px solid red; */

  overflow: hidden;
}
.slide-container input[name=tabmenu] {
  display: none;
}
.content {
  /* display: none; */
  position: absolute;
  top: 0;
  /* left: 0; */
  /* 최초의 위치를 살짝 왼쪽으로 */
  left: -100px;

  opacity: 0;
  visibility: hidden;
  /* visibility: hidden;를 추가하면 존재가 사라짐 ( 자리값은 유지 )  */

  transition: 0.5s;
}
.content img {
  width: 500px;
  height: 300px;
}
.tabBtn {
  /* border: 1px solid blue; */
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  
}
.tabBtn label {
  width: 15px;
  height: 15px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

input[id=tab1]:checked~.tabBtn label[for=tab1],
input[id=tab2]:checked~.tabBtn label[for=tab2],
input[id=tab3]:checked~.tabBtn label[for=tab3] {
  background-color: gold;
}

input[id=tab1]:checked~.img1,
input[id=tab2]:checked~.img2,
input[id=tab3]:checked~.img3 {
  /* display: block; */
  opacity: 1;
  visibility: visible;

  left: 0;
}

input[id=tab1]:checked~.heading .text1,
input[id=tab2]:checked~.heading .text2,
input[id=tab3]:checked~.heading .text3 {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}


/* heading */
.heading {}
.text1,
.text2,
.text3 {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: crimson;
  border-radius: 50%;
  left: 20px;
  top: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 25px;

  padding-top: 20px;
  box-sizing: border-box;

  transform: translateY(-50px);
  opacity: 0;
  transition: 0.5s;
}
.text2 {
  background-color: dodgerblue;
}
.text3 {
  background-color: yellowgreen;
}
.text1 span,
.text2 span,
.text3 span {
  display: block;
  font-size: 20px;
  margin-top: 3px;
}