.portfolio {
  text-align: center;
  padding: 20px;
  background-color: #eee;
}

.portfolio .portfolio-items {
  width: 1200px;
  margin: auto;
}

.portfolio .portfolio-items .portfolio-item {
  display: inline-block;
  width: 300px;
  height: 500px;
}

.portfolio .portfolio-items .portfolio-item:nth-child(1) {
  background-image: url("images/portfolio/bg-01.jpg");
}

.portfolio .portfolio-items .portfolio-item:nth-child(2) {
  background-image: url("images/portfolio/bg-02.jpg");
}

.portfolio .portfolio-items .portfolio-item:nth-child(3) {
  background-image: url("images/portfolio/bg-03.jpg");
}
