:root {
  --primary: royalblue;
  --secondary: yellowgreen;
  --warning: yellow;
  --danger: crimson;
  --btn-padding: 10px 30px;
}

.btns {
  text-align: center;
  .btn {
    border: none;
    padding: var(--btn-padding);
    text-transform: capitalize;
    font-size: 15px;
    border-radius: 3px;
    color: #fff;
    &.primary {
      background-color: var(--primary);
    }
    &.secondary {
      background-color: var(--secondary);
    }
    &.warning {
      background-color: var(--warning);
    }
    &.danger {
      background-color: var(--danger);
    }
  }
}