.btn {
  background-color: pink;
  color: purple;
  border: 1px solid purple;
  border-radius: 3px;
  width: 120px;
  transition: 0.5s;
  &:hover {
    background-color: purple;
    color: pink;
    border: transparent;
  }
}
.frame {
  border: 1px solid #000;
  width: 300px;
  height: 200px;
  background-color: crimson;
  &:first-child {
    background-color: yellow;
  }
  input {
    padding: 5px;
    &[type=radio] {
      vertical-align: middle;
    }
  }
}