@mixin border-style($width, $style, $color) {
  border : $width $style $color;
}
.buttons {
  button {
    width: 200px;
    padding: 7px;
    background-color: #fff;
    font-size: 18px;
    cursor: pointer;
    &.approval {
      @include border-style(1px , solid, red);
    }
    &.refuse {
      @include border-style(1px , dashed, royalblue);
    }
  }
}