.buttons button {
  width: 200px;
  padding: 7px;
  background-color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.buttons button.approval {
  border: 1px solid red;
}

.buttons button.refuse {
  border: 1px dashed royalblue;
}
